
{% extends 'base.html'%}
{% block title %}
Listado de clientes
{% endblock %}
{% block content %}
    <h1>Listado de clientes</h1><a href="/products/create_costumer" class="btn btn-primary">Cargar cliente</a>

{% for people in costumer  %}

<div class="card" style="width: 13rem;">
  <img src="https://emojis.wiki/emoji-pics/facebook/bust-in-silhouette-facebook.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{people.name}}</h5>
    <p class="card-text">Email: {{people.email}}</p>
    <p class="card-text">Telefono: {{people.phone_number}}</p>

    

  
  </div>
</div>
{% endfor %}
{% endblock %}