
{% extends 'base.html'%}
{% block title %}
Listado de clientes
{% endblock %}
{% block content %}
    <h1>Listado de clientes</h1><a href="/products/create_costumer" class="btn btn-danger">Cargar cliente</a>

{% for people in costumer  %}

<div class="card" style="width: 13rem;">
  <img src="https://static.vecteezy.com/system/resources/thumbnails/000/550/980/small/user_icon_001.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{people.name}}</h5>
    <p class="card-text">Email: {{people.email}}</p>
    <p class="card-text">Telefono: {{people.phone_number}}</p>
    {% if request.user.is_authenticated %}
    <a href="/products/costumer_update/{{people.id}}" class="btn btn-primary">Actualizar</a>
    <a href="/products/costumer_delete/{{people.id}}" class="btn btn-danger">Borrar</a>
    {% endif %}
    

  
  </div>
</div>
{% endfor %}
{% endblock %}