
{% extends 'base.html'%}
{% block title %}
Creacion de clientes
{% endblock %}

{% block content %}
    <h1>Carga de clientes</h1>
    {% if request.method == "GET" %}

        <form action="" method='POST'>{% csrf_token %}

            <p> Nombre: <input type="text" name="name"> </p>
            <p> Email: <input type="email" name="email"></p>
            <p> Telefono: <input type="tel" name="phone"></p>
            <input type="submit" value="Crear cliente">

        </form>
    {% else %}
        <p> cliente creado. </p>
    {% endif %}


{% endblock %}