{% extends 'base.html'%}

{% block title %}
Locales
{% endblock %}
{% block content %}
<h1> Nuestros Locales</h1>
<a href="/products/create_location" class="btn btn-danger">Crear nuevo local</a>

{% for locales in location %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkWCOfMiy-cOxMMqPYc-zuy_MwSBslYhBCxA&usqp=CAU" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{locales.name}}</h5>
          <p class="card-text">Telefono: {{locales.phone_number}} </p>
          <a href="/products/location_update/{{locales.id}}" class="btn btn-danger">Actualizar local</a>
        </div>
      </div>
    </div>
  </div>

{% endfor %}
{% endblock %}