{% extends 'base.html'%}
{% block title %}
About me
{% endblock %}

{% block content %}


<h1>Acerca de mi</h1>


<h3>Mi nombre es Juan Francisco GILI TOMLIENOVICH, naci el 28/12/1987 en la provincia de Mendoza, Argentina. Soy Ingeniero Industrial (UNCuyo), Ingeniero Mecanico (ENIM, Francia) y tengo una maestria en Logistica (ENIM, Francia).

Trabajo hace 11 anos en la industria y actualmente estoy a cargo de una fabrica de red antigranizo, situada en la provincia de Mendoza.

Desde que termine mis estudios universitarios y comence a trabajar full time, fui perdiendo la motivacion de estudiar dia a dia y de ir aprendiendo nuevos conocimientos. 

Un dia, hablando con un amigo, este me dijo una frase que me sensibilizo y me hizo replantearme varias cosas. La frase fue la siguiente: "10 anos haciendo lo mismo no es experiencia, es solamente 10 anos haciendo lo mismo". 

Esta frase realmente me hizo dar cuenta de que estaba demasiado comodo en mi zona de 'confort', de que era el momento de probar algo nuevo, de que era el momento para un nuevo desafio. 

Actuamente estoy terminando el curso de python de Coderhouse (comision34650), mi primer experiencia en el mundo IT.
</h3>
<a href="/ " class="btn btn-danger">Volver a la pagina principal</a>
{% endblock %}





